<nav class="navbar navbar-expand-md  bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
    <a class="navbar-brand" href="#">Flask Web Application</a></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles">ARTICLE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT</a>
            </li> 
      
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="glyphicon glyphicon-log-in">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><span class="glyphicon glyphicon-user">Register</a>
        </li>
    </ul>
    
    </div>
    </div>
  </nav>